<div class="page">
  <img src="../../assets/flower-1.svg" alt="Flores" class="flower-1">
  <div class="first">
    <div class="picture">
      <img src="../../assets/pic.jpeg" alt="Foto do casal" class="foto-casal" style="filter: saturate(80%);">
    </div>
    <p>“Numa tarde linda de primavera, após sequências de milagres e <br>
      simplesmente pela Graça, nos tornaremos um “</p>
  </div>
  <div class="second">
    <h1>Tatiane e Roberto</h1>
    <p>Convidamos você para o nosso casamento... <br> A realizar-se em...</p>
    <h1 class="day">14</h1>
    <h2 style="margin-top: 0;">Dezembro <br> 2024, às 13h00</h2>
    <p class="loc">Estrada do Rio acima, km 16  condomínio Terras Altas, chácara 5 <br> <b>(Usar Google maps)</b> </p>
  </div>
  <div class="third">
    <p>Clique para interagir!</p>
    <div class="tools">
      <div (click)="navigateTo('https://goo.gl/maps/KsjJoSfVoLmMjRG97')">
        <div class="icon">
          <img src="../../assets/icon-1.svg" style="margin-left: 0.5rem;">
        </div>
        <p>Localização</p>
      </div>
      <div (click)="navigateTo('https://api.whatsapp.com/send?phone=5511980787843&text=Confirmo%20minha%20presença.')">
        <div class="icon">
          <img src="../../assets/icon-2.svg" >
        </div>
        <p>Confirmação
          de presença</p>
      </div>
      <div (click)="navigateTo('https://www.precolandia.com.br/gift-list-details/view/tatiane-e-roberto')">
        <div class="icon">
          <img src="../../assets/icon-3.svg">
        </div>
        <p>Lista de
          presentes</p>
      </div>
    </div>
    <img src="../../assets/flower-4.svg" alt="Flores" class="flower-4">
  </div>

</div>
