<div class="page">
  <img src="../../assets/flower-1.svg" alt="Flores" class="flower-1">
  <div class="first">
    <div class="picture">
      <img src="../../assets/pic.jpeg" alt="Foto do casal" class="foto-casal" style="filter: saturate(80%);">
    </div>
    <p>“Numa tarde linda de primavera, após sequências de milagres e <br>
      simplesmente pela Graça, nos tornaremos um “</p>
  </div>
  <div class="second">
    <h1>Tatiane e Roberto</h1>
    <p>Convidamos você para o nosso casamento... <br> A realizar-se em...</p>
    <h1 class="day">14</h1>
    <h2 style="margin-top: 0;">Dezembro <br> 2024, às 13h00</h2>
    <p class="loc">#################################<br> <b>(Usar Google maps)</b> </p>
  </div>
  <div class="third">
    <p>Clique para interagir!</p>
    <div class="tools">
      <div (click)="navigateTo('https://www.google.com.br/maps/preview')">
        <div class="icon">
          <img src="../../assets/icon-1.svg" style="margin-left: 0.5rem;">
        </div>
        <p>Localização</p>
      </div>
      <div >
        <div class="icon">
          <img src="../../assets/icon-2.svg">
        </div>
        <p>Confirmação de presença</p>
      </div>
      <div (click)="openModal()">
        <div class="icon">
          <img src="../../assets/icon-3.svg">
        </div>
        <p>Lista de presentes</p>
      </div>
    </div>

    <img src="../../assets/flower-4.svg" alt="Flores" class="flower-4">
  </div>

</div>

<div class="modal" [class.show]="isModalOpen" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="links">
      <h2>Lista de presentes disponível em:</h2>
      <a href="https://listas.casasbahia.com.br" target="_blank">Casas Bahia</a>
      <a href="https://www.precolandia.com.br" target="_blank">PreçoLandia</a>
    </div>
  </div>
</div>
