/* Estilos gerais */
.page {
  width: 100%;
  height: 100%;
  background-color: #FFFBF4;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.flower-1 {
  position: absolute;
  margin-top: -1rem;
  width: 20rem;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first .picture {
  display: flex;
  flex-direction: column;
}

.first .picture .flower-2 {
  position: absolute;
  width: 10rem;
  margin-top: -1rem;
  margin-left: -2rem;
}

.first .picture .flower-3 {
  position: absolute;
  width: 10rem;
  margin-top: 17rem;
  margin-left: 21.5rem;
}

.first .picture img {
  width: 30rem;
  border-radius: 1rem;
}

.first p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  margin-top: 2rem;
  text-align: center;
  font-family: "Abhaya Libre", serif;
  margin-bottom: 1rem;
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  width: 100%;
  border: 1px solid #000000b7;
}

.second h1 {
  font-family: "Allura", cursive;
  color: #CEAE72;
  font-size: 6rem;
  font-weight: 500;
  margin-top: 2rem;
  text-align: center;
}

.second h2 {
  font-family: "Abhaya Libre", serif;
  color: #816E4C;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 2rem;
  text-align: center;
}

.second p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  margin-top: 1rem;
  text-align: center;
  font-family: "Abhaya Libre", serif;
}

.second .date {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.second .date p {
  font-size: 3rem;
  font-weight: 500;
  color: #000;
  margin-top: 1rem;
  text-align: center;
  font-family: "Abhaya Libre", serif;
  margin-right: 0.5rem;
}

.second .date .day {
  color: #816E4C;
  font-size: 4rem;
}

.loc {
  font-family: "Abyssinica SIL", serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.third {
  background-color: #FFFBF4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10rem;
}

.third p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  margin-top: 2rem;
  text-align: center;
  font-family: "Abhaya Libre", serif;
}

.third .tools {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 3rem;
  gap: 1rem;
}

.third .tools div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third .tools .icon {
  border-radius: 10rem;
  width: 5rem;
  height: 5rem;
  background-color: #897C65;
  padding: 1rem;
}

.third .tools .icon img {
  width: 4rem;
}

.third .tools p {
  font-size: 1.5rem;
  font-weight: 900;
  color: #000;
  width: 9rem;
  height: 1rem;
  text-align: center;
  font-family: "Abhaya Libre", serif;
}

.flower-4 {
  width: 20rem;
  align-self: flex-end;
  margin-top: -17rem;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .first .picture img {
    width: 30rem;
  }

  .second h1 {
    font-size: 6rem;
  }

  .second h2 {
    font-size: 3rem;
  }

  .second p {
    font-size: 1.5rem;
  }

  .second .date p {
    font-size: 3rem;
  }

  .second .date .day {
    font-size: 4rem;
  }

}

@media (min-width: 600px) and (max-width: 1199px) {

  .flower-1 {
    width: 10rem;
  }

  .first .picture .flower-3 {
    width: 7rem;
    margin-top: 11.5rem;
    margin-left: 14.3rem;
  }

.first .picture .flower-2 {
    width: 7rem;
    margin-top: -0.7rem;
    margin-left: -1.3rem;
}

  .first .picture img {
    width: 20rem;
    border-radius: 1rem;
  }

  .second h1 {
    font-size: 4rem;
  }

  .second h2 {
    font-size: 1.8rem;
  }

  .second p {
    font-size: 1.2rem;
  }

  .second .date p {
    font-size: 2rem;
  }

  .second .date .day {
    font-size: 2rem;
  }

  .first p {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .third {
    padding-bottom: 12rem;
  }

.flower-4 {
  width: 15rem;
  margin-top: -12rem;
}

.tools{
  scale: 0.8;
}

  }


@media (max-width: 425px) {

  .flower-1 {
    width: 7rem;
  }

  .first .picture .flower-3 {
    width: 6rem;
    margin-top: 8rem;
    margin-left: 10rem;
  }

  .first .picture img {
    width: 15rem;
  }

.first .picture .flower-2 {
    width: 6rem;
    margin-top: -0.7rem;
    margin-left: -1.1rem;
}

  .second h1 {
    font-size: 3.2rem;
  }

  .second h2 {
    font-size: 1.6rem;
  }

  .second p {
    font-size: 1rem;
  }

  .second .date p {
    font-size: 1.7rem;
  }

  .second .date .day {
    font-size: 2rem;
  }

  .first p {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .tools {
    display: flex;
    justify-content: center;
  }

  .third {
    padding-bottom: 10rem;
  }


.flower-4 {
  width: 7rem;
  margin-top: -6rem;
}

.tools{
  scale: 0.7;
}


  }
